
@import url(https://fonts.googleapis.com/css?family=Lato);

html, body {
  background: rgb(20,20,20);
  text-align: center;
  height: 100%;
  overflow: scroll;
  font-family: 'Roboto Condensed';
}

#content {
  position: relative;
  /*top: 50%;*/
}
.sectionbox {
  position: relative;
  background-color: white;
  margin: 25ex;
  padding: 25ex;
  color: rgb(20,20,20);
}

.svg-wrapper {
  position: relative;
  /*top: 50%; */
  /*transform: translateY(-50%);*/
	margin: 0 auto;
  width: 320px;
  padding-bottom: 50ex;
  padding-top: 50ex;
}
.shape {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  fill: transparent;
  stroke: #19f6e8;
  border-bottom: 5px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
.text {
  font-family: 'Roboto Condensed';
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 6px;
  color: #fff;
  top: -48px;
  position: relative;
}
.svg-wrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
/*  font-family: 'Lato', sans-serif;*/
}

/* Navigation bar */
nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgb(20,20,20);
  /*box-shadow: 0 3px 10px -2px rgba(0,0,0,.1);*/
  /*border: 1px solid rgba(0,0,0,.1);*/
  border-bottom: 1px solid white;
  z-index: 2;

}
  nav ul{
    list-style: none;
    position: relative;
    float: right;
    margin-right: 100px;
    display: inline-table;
  }
    nav ul li{
      float: left;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
    }

    /*nav ul li:hover{background: #19f6e8;}*/
    nav ul li:hover > ul{display: block;}
    nav ul li{
      float: left;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
    }
      nav ul li a{
        display: block;
        padding: 20px 20px;
        color: white;
        font-size: .9em;
        letter-spacing: 1px;
        text-decoration: none;
        text-transform: uppercase;
      }
      nav ul li a:hover{
        color: rgb(20,20,20);
        background-color: white;
      }

      nav ul ul{
        display: none;
        background: rgb(20,20,20);
        position: absolute;
        top: 100%;
        /*box-shadow: -3px 3px 10px -2px #19f6e8;*/
        border: 1px solid rgba(0,0,0,.1);
      }
        nav ul ul li{float: none; position: relative;}
          nav ul ul li a {
            padding: 15px 30px;
            border-bottom: 1px solid rgba(0,0,0,.05);
          }
          nav ul ul ul {
            position: absolute;
            left: 100%;
            top:0;
          }
