extends layout

block content

  h2 Code in Github Repository
  a(href='https://github.com/iteuscher/lux', target='_blank', style='color: black; font-decoration: bold; font-size: 20px; border: solid 1px black; padding: 8px; border-radius: 5px;') See the code
  .spacersmall

  .textcontainer
    h2 User Guide
    <object width="440" height="520" data="/other/Lux User Guide.pdf" internalinstanceid="6" title=""> Your browser does not support the User Guide PDF :( </object>

  .spacersmall

  .textcontainer
    h2 Google Slides Presentation
    <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQz_1nXbzhZvfRdlHpWRNUXD90abkjjXr0W1qtet0s6R-_IjIXxW802u65HbMh0G6zfol2Y0LoUnAXh/embed?start=false&loop=false&delayms=3000" frameborder="0" width="480" height="299" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

  .spacermedium
