extends layout

block content
  .textcontainer
  table.pure-table.pure-table-bordered(style='margin: 0 auto; font-size: 18px;')
      thead
        tr
          th User ID
          th Name
          th Time Created
      tbody
        tr
          td 1
          for data in lux_01
            td= data
        tr
          td 2
          for data in lux_02
            td= data
  .spacermedium
