/* @import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css); */

body {
  background: rgb(20,20,20);
  text-align: center;
  height: 100%;
  overflow: scroll;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: 'Roboto Condensed';
  font: 16px Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  height: 100vh;
}

p {
    line-height: 130%;
    margin-top: 1ex;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    margin: 0 auto;
    padding: 2ex;
    font-family: 'Roboto Condensed';
}

h3 {
  font-family: 'Roboto Condensed';
  font-size: 22px;
  margin-bottom: 0.5ex;
  margin-top: 0;
}

.accent-underline {
padding: 0;
margin: 0 auto;
margin-bottom: 0;
border-top: 3.5px solid #1abc9c;
width: 7ex;
}

.button {
  position: relative;
  background-color: rgb(20,20,20);
  margin: 5ex;
  padding: 1ex;
  font-family: 'Roboto Condensed';
  color: white;
  text-align: center;
  font-size: 22px;
  text-decoration: none;
  border-radius: 9px;
}

.spacersmall {
    height: 5ex;
}

.spacermedium {
    height: 8ex;
}

.spacerbig {
    height: 35ex;
}

#content {
  position: relative;
  /*top: 50%;*/
}
.sectionbox {
  position: relative;
  background-color: white;
  margin: 5ex;
  color: rgb(20,20,20);
  align-content: center;
  text-align: center;
}

.textcontainer {
  margin: 5ex;
}

/* welcome to lux animation box */
.svg-wrapper {
  position: relative;
  /*top: 50%; */
  /*transform: translateY(-50%);*/
	margin: 0 auto;
  width: 320px;
  padding-bottom: 50ex;
  padding-top: 50ex;
}
.shape {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  fill: transparent;
  stroke: #1abc9c;
  border-bottom: 5px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
.text {
  font-family: 'Roboto Condensed';
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 6px;
  color: #fff;
  top: -48px;
  position: relative;
}
.svg-wrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}


/* Navigation bar */
nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgb(20,20,20);
  /*box-shadow: 0 3px 10px -2px rgba(0,0,0,.1);*/
  /*border: 1px solid rgba(0,0,0,.1);*/
  border-bottom: 1px solid white;
  z-index: 2;

}
  nav ul{
    list-style: none;
    position: relative;
    float: right;
    display: inline-table;
    margin: 0 auto;
    margin-right: 100px;
  }
    nav ul li{
      float: left;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
    }

    /*nav ul li:hover{background: #1dd2af;}*/
    nav ul li:hover > ul{display: block;}
    nav ul li{
      float: left;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
    }
      nav ul li a{
        display: block;
        padding: 2ex 3ex;
        color: white;
        font-size: .9em;
        letter-spacing: 1px;
        text-decoration: none;
        /*text-transform: uppercase;*/
      }
      nav ul li a:hover{
        color: rgb(20,20,20);
        background-color: white;
      }

      nav ul ul{
        display: none;
        background: rgb(20,20,20);
        position: absolute;
        top: 100%;
        /*box-shadow: -3px 3px 10px -2px #1abc9c;*/
        border: 1px solid rgba(0,0,0,.1);
      }
        nav ul ul li{float: none; position: relative;}
          nav ul ul li a {
            padding: 15px 30px;
            border-bottom: 1px solid rgba(0,0,0,.05);
          }
          nav ul ul ul {
            position: absolute;
            left: 100%;
            top:0;
          }

  /* form css */
.form-style-5{
    max-width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.form-style-5 fieldset{
    border: none;
}
.form-style-5 legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}
.form-style-5 label {
    display: block;
    margin-bottom: 8px;
}

/*.form5label {
  display: block;
  margin-bottom: 8px;
  color: black;
}*/

.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 textarea,
.form-style-5 select {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 18px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color: rgb(20,20,20);
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 20px;

}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus{
    border: 1px solid #1abc9c;
    padding: 6px;
}
.form-style-5 select{
    -webkit-appearance: menulist-button;
    height:35px;
}
.form-style-5 .number {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #1abc9c;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
    transition: all 0.5s ease;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
    background: #1dd2af;
}



/* sign up / log in form */
@import "compass/css3";
*, *:before, *:after {
  box-sizing: border-box;
}
#logform_body {
  /*font-family: 'Titillium Web', sans-serif;*/
}
.logform_a {
  text-decoration: none;
  color: #1abc9c;
  transition: 0.5s ease;
}
.logform_a:hover {
  color: #1dd2af;
}
.form {
  color: #8a97a0;
  max-width: 500px;
  padding: 10px 20px;
  background: #f4f7f8;
  margin: 10px auto;
  padding: 20px;
  border-radius: 8px;
  font-family: Georgia, "Times New Roman", Times, serif;
  /*background: rgba(19, 35, 47, .9);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 5px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, .3);*/
}
.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: #f4f7f8;;
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}
.tab-group li a:hover {
  background: #1dd2af;
  color: #fff;
}
.tab-group .active a {
  background: #1abc9c;
  color: #fff;
}
.tab-content > div:last-child {
  display: none;
}
.logform_h1 {
  text-align: center;
  color: rgb(20,20,20);
  font-weight: 300;
  margin: 0 0 40px;
}
label {
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  /*color: rgba(255, 255, 255, .5);*/
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
label .req {
  margin: 2px;
  color: #1abc9c;
}
label.active {
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

input, textarea {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: rgba(255,255,255,.1);
  border: none;
  border-radius: 4px;
  font-size: 18px;
  margin: 0;
  outline: 0;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #e8eeef;
  color: rgb(20,20,20);
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 10px;
}
input:focus, textarea:focus {
      border: 1px solid #1dd2af;
      padding: 7px;
}
textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
  background-color: #e8eeef;
}
.field-wrap {
  position: relative;
  margin-bottom: 40px;
}
.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}
.logform_button {
  position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #1abc9c;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
    transition: all 0.5s ease;
}
.logform_button:hover, .logform_button:focus {
  background: #1dd2af;
  transition: all 0.5s ease;
}
.logform_button-block {
  display: block;
  width: 100%;
}
.forgot {
  margin-top: -20px;
  text-align: right;
}



/* social media buttons */
#socialbox {
  display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   align-content: center;
   min-height: 15ex;
}
.c-icon {
    width:  6ex;
    height: 6ex;
    fill: currentColor;
    transition: .2s;
}

.c-link--facebook:hover  { color: #3b5998 }
.c-link--twitter:hover   { color: #55acee }
.c-link--linkedin:hover    { color: #0077B5 }
.c-link--email:hover { color: #bd081c }
.c-link--instagram:hover { color: #833ab4 }
.c-link--github:hover  { color: #333 }
.c-link--facebook:hover::after  { background: #3b5998 }
.c-link--twitter:hover::after   { background: #55acee }
.c-link--linkedin:hover::after    { background: #0077B5 }
.c-link--email:hover::after { background: #bd081c }
.c-link--instagram:hover::after { background: #833ab4 }
.c-link--github:hover::after  { background: #333 }

.c-link {
    position: relative;
    /*color: #bbb;*/
}

.c-link:not(:last-of-type) {
    margin-right: 15px;
}

.c-tooltip::before,
.c-tooltip::after {
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -30px);
    opacity: 0;
    transition: .2s;
}

.c-tooltip::before {
    content: '';
    bottom: calc(100% + 2px);
    border: solid 5px transparent;
    border-top-color: currentColor;
}

.c-tooltip::after {
    content: attr(aria-label);
    bottom: calc(100% + 12px);
    padding: .61em .93em;
    font-size: .875rem;
    color: white;
    border-radius: 3px;
}

.c-tooltip:hover::before,
.c-tooltip:hover::after {
    opacity: 1;
    transform: translate(-50%);
}



/* heart animation */
.heart-loader {
  position: relative;
  /*top: 50%;*/
  /*margin-top: -90px;*/
  display: block;
  left: 50%;
  width: 180px;
  height: 180px;
  overflow: visible;

}

.heart-loader__group {
  transform-origin: 0 90px;
  animation: group-anim 6s 1s;
  animation-fill-mode: forwards;
}
.heart-loader__square {
  stroke: #b8b8b8;
  stroke-dasharray: 240, 240;
  stroke-dashoffset: 240;
  animation: square-anim 6s 1s;
  animation-fill-mode: forwards;
}
.heart-loader__circle {
  stroke: #b8b8b8;
  stroke-dasharray: 188.522, 188.522;
  stroke-dashoffset: 188.522;
  transform-origin: 60px 30px;
    animation-fill-mode: forwards;
}
.heart-loader__circle.m--left {
  animation: left-circle-anim 6s 1s;
    animation-fill-mode: forwards;
}
.heart-loader__circle.m--right {
  animation: right-circle-anim 6s 1s;
    animation-fill-mode: forwards;
}
.heart-loader__heartPath {
  stroke: #e21737;
  fill: transparent;
  stroke-dasharray: 308.522, 308.522;
  stroke-dashoffset: 308.522;
  animation: heart-anim 6s 1s;
  /*animation: heart-stay-filled infinite 7s forwards;*/
}


@keyframes square-anim {
  12% {
    stroke-dashoffset: 0;
  }
  43% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
  85% {
    stroke-dashoffset: 0;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 0;
  }
}
@keyframes left-circle-anim {
  12% {
    stroke-dashoffset: 188.522;
  }
  31% {
    stroke-dashoffset: 0;
    transform: translateY(0);
  }
  41% {
    stroke-dashoffset: 0;
    transform: translateY(-30px);
  }
  43% {
    stroke-dashoffset: 0;
    transform: translateY(-30px);
    opacity: 1;
  }
  85% {
    stroke-dashoffset: 0;
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    transform: translateY(-30px);
    opacity: 0;
  }
}
@keyframes right-circle-anim {
  12% {
    stroke-dashoffset: 188.522;
  }
  31% {
    stroke-dashoffset: 0;
    transform: translateX(0);
  }
  41% {
    stroke-dashoffset: 0;
    transform: translateX(30px);
  }
  43% {
    stroke-dashoffset: 0;
    transform: translateX(30px);
    opacity: 1;
  }
  85% {
    stroke-dashoffset: 0;
    transform: translateX(30px);
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    transform: translateX(30px);
    opacity: 0;
  }
}
@keyframes group-anim {
  43% {
    transform: rotate(0);
  }
  54% {
    transform: rotate(-45deg);
  }
  90% {
    transform: rotate(-45deg);
    opacity: 1;
  }
  97% {
    transform: rotate(-45deg);
    opacity: 0;
  }
  100% {
    transform: rotate(-45deg);
    opacity: 0;
  }
}
@keyframes heart-anim {
  0% {
    fill: transparent;
    }
  100% {
    fill: #e21737;
    }
  }
}
